{% extends 'layout.html' %}
{% block content %}
<section id="newsletter">
    <div class="container">
        <h1>Subcribe to Our Newsletter</h1>
        <form>
            <input type="email" placeholder="Enter email" name="email">
            <button type="submit" class="button_1">Submit</button>
        </form>
    </div>

</section>
<section id="main">
    {% with messages = get_flashed_messages() %}
    {% for message in messages %}
    <div class="alert alert-primary" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endwith %}
    <div class="container">
        <article id="main-col">
            <h1 class="page-title"> Services</h1>
            <ul id="services">
                <li>
                    <h3>Full Package</h3>
                    <p>from no product to publicity</p>
                    <p>Pricing : 80000$</p>
                    <h3>Publishement</h3>
                    <p>we publish your advertisement</p>
                    <p> Pricing : 60000$</p>
                    <h3>ConSultAncy</h3>
                    <p>we give your strategiical advice to market your product in the most profitable way</p>
                    <p>Pricing : 20000$</p>
                </li>
            </ul>
        </article>
        <aside id="sidebar">
            <div class="dark">
                <h3> Upload Your Video</h3>
                <form class="media" method="post" action="/upload" enctype="multipart/form-data">
                    <div>
                        <label>Upload</label><br>
                        <input type="file" name="video">
                    </div>
                    <button class="button_1" type="upload">Upload</button>
                </form>
            </div>

        </aside>
    </div>
</section>
<section id="boxes">
    <div class="container">
        <div class="box">
            <img src="{{ url_for('static', filename='images/full package.png') }}">
            <h3>Full Package</h3>
            <p>From The Design Of The Advertisement To Its Publishment</p>
        </div>
        <div class="box">
            <img src="{{ url_for('static', filename='images/published.jpg') }}">
            <h3>Published</h3>
            <p>We Make Sure Your Product Is Been Expose To The Right Persons At The Right Time</p>
        </div>
        <div class="box">
            <img src="{{ url_for('static', filename='images/consultancy.jpg') }}">
            <h3>ConSultAncy</h3>
            <p>We Advice On How To Make Your Products Future Outstanding</p>
        </div>
    </div>
</section>
{% endblock %}
